<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projetoMeioAmbiente.Properties.Settings.bancoProjetoMAConnectionString"
            connectionString="Data Source=GUSTAVO-PC\SQLEXPRESS;Initial Catalog=bancoProjetoMA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="projetoMeioAmbiente.Properties.Settings.BancoConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\gustavo.hrgomes\Documents\Banco.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
